*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100dvw;
    height: 100dvh;
}

.container{
    padding-top: 120px;
    height: inherit;
    display: flex;
    align-items: start;
}