{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Happy Holiday</title>
    <link rel="stylesheet" href="{% static "core/forgot-password.css" %}"> <!-- Link to Forgot Password CSS -->
</head>
<body>   
    <div class="forgot-password-page">
        <!-- Left side with image/text -->
        <div class="forgot-password-left">
            <div class="welcome-text">
                <h1>Happy Holiday</h1>
            </div>
        </div>

        <!-- Right side for forgot password form -->
        <div class="forgot-password-right">
            <div class="auth-container">
                <h2>Forgot Password</h2>
                <form id="forgotPasswordForm" method='POST' novalidate>
                    {% csrf_token %}
                    <div class="input-group">
                        <i class="fas fa-envelope"></i>
                        <input type="email" id="email" name="email" placeholder="Enter your email address" required>
                        {% if messages %}
                            <div id="feedback" class="feedback">
                                {% for message in messages %}
                                    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Feedback section -->

                    <!-- Send code button -->
                    <button type="submit" class="send-code-btn">Send code</button>
                </form>
            </div>
        </div>
    </div>

    {% comment %} <script src="forgot-password.js"></script> <!-- Link to Forgot Password JavaScript --> {% endcomment %}
</body>
</html>