<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if correct %}
        <h2>Enter a New Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    {% else %}
        <h2>Password Reset Link Invalid</h2>
        <p>The password reset link is invalid or has expired. Please request a new password reset.</p>
    {% endif %}
</body>
</html>