{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Happy Holiday</title>
    <link rel="stylesheet" href="{% static 'core/signin.css' %}">
</head>
<body>   
    <div class="signin-page">
        <div class="signin-left">
            <div class="welcome-text">
                <h1>Happy Holiday</h1>
            </div>
        </div>
        <div class="signin-right">
            <div class="auth-container">
                <h2>Welcome!</h2>
                <p class='welcome-message'>Sign In to Continue</p>
                
                <form method="POST" id="signinForm" novalidate>
                    {% csrf_token %}
                    <div class="form-item">
                        <i class="fas fa-envelope"></i>
                        {{ form.username }}
                        <div class="feedback-container">
                            {% for error in form.username.errors %}
                                <p class="feedback error">{{ error }}</p>
                            {% endfor %}
                        </div>  
                    </div>
                    <div class="form-item">
                        <i class="fas fa-lock"></i>
                        {{ form.password }}
                        <div class="feedback-container">
                            {% for error in form.password.errors %}
                                <p class="feedback error">{{ error }}</p>
                            {% endfor %}
                        </div> 
                    </div>
                    <div class="feedback-container">
                    {% for error in form.non_field_errors %}
                        <p class="feedback error">{{ error }}</p>
                    {% endfor %}
                    </div>
                    <div id="feedback" class="feedback"></div>
                    <button type="submit" class="register-btn">Login</button>
                    <p class="signin-links">
                        Don't have an account? <a href="{% url 'signup' %}">Sign up!</a>
                        <br>
                        <a href="{% url "forgot_password" %}">Forgot Password?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

    {% comment %} <script src="{% static "core/signin.js" %}"></script> {% endcomment %}
</body>
</html>