{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Holiday - Locations</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'core/suppliers.css' %}"> 
</head>
<body>
    <!-- Navigation bar and header section -->
    <header class="header">
        <div class="logo">
            <h1>Happy Holiday</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'location' %}">Location</a></li>
                <li><a href="suppliers.html" class="active">Suppliers</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="#cart">Cart</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' user.id %}">
                    <img src="{% static 'core/profile.png' %}" alt="" class="profile-icon">
                </a> 
                <a href="{% url 'logout' %}" class="login-btn">Logout</a>
            {% else %}
                <a href="{% url 'signin' %}" class="login-btn">Sign in</a>
                <a href="{% url 'signup' %}" class="signup-btn">Sign up</a>
            {% endif %}
        
        </div>
    </header>

    <div class="hero-section">
        <h2>Our Suppliers</h2>
    </div>

    <div class="categories-section">
        <div class="categories-carousel">
            <div class="categories">
                <div class="category">
                    <a href="{% url 'photographers' %}">
                        <img src="{% static 'core/2nd_top.png' %}" alt="Photographer" class="category-image">
                        <p>PHOTOGRAPHER / VIDEOGRAPHER</p>
                    </a>
                </div>
                <div class="category">
                    <a href="{% url 'decorators' %}">
                        <img src="{% static 'core/decorators.png' %}" alt="Decorators" class="category-image">
                        <p>DECORATORS</p>
                    </a>
                </div>
                <div class="category">
                    <a href="{% url 'menu_bar' %}">
                        <img src="{% static 'core/1st_top.png' %}" alt="Menu/Bar" class="category-image">
                        <p>MENU / BAR</p>
                    </a>
                </div>
                <div class="category">
                    <a href="{% url 'choreographers' %}">
                        <img src="{% static 'core/dance.png' %}" alt="Choreographers" class="category-image">
                        <p>CHOREOGRAPHERS</p>
                    </a>
                </div>
                <div class="category">
                    <a href="{% url 'designers' %}">
                        <img src="{% static 'core/designers.png' %}" alt="Designers" class="category-image">
                        <p>DESIGNERS</p>
                    </a>
                </div>
                <div class="category">
                    <a href="{% url 'venue_planners' %}">
                        <img src="{% static 'core/venue.png' %}" alt="Venue planners" class="category-image">
                        <p>VENUE PLANNERS</p>
                    </a>
                </div>
                <div class="category">
                    <a href="{% url 'makeup_artists' %}">
                        <img src="{% static 'core/makeup_artist.png' %}" alt="Makeup artists" class="category-image">
                        <p>MAKEUP ARTISTS</p>
                    </a>
                </div>
            </div>
        </div>
    </div>    

    <!-- Photographers Section -->
    <div class="photographers-section">
        <h2><a href="{% url 'photographers' %}">Popular Photographers / Videographers</a></h2>
        <div class="photographers-grid">
            <a href="{% url 'photographers' %}" class="photographer-card">
                <img src="{% static 'core/photographers/medina.png' %}" alt="Medina">
                <p>Medina</p>
            </a>
            <a href="{% url 'photographers' %}" class="photographer-card">
                <img src="{% static 'core/photographers/nurbek.png' %}" alt="Nurbek">
                <p>Nurbek</p>
            </a>
            <a href="{% url 'photographers' %}" class="photographer-card">
                <img src="{% static 'core/photographers/arailym.png' %}" alt="Arailym">
                <p>Arailym</p>
            </a>
            <a href="{% url 'photographers' %}" class="photographer-card">
                <img src="{% static 'core/photographers/zhannur.png' %}" alt="Zhannur">
                <p>Zhannur</p>
            </a>
        </div>
    </div>

    <!-- Designers Section -->
    <div class="designers-section">
        <h2><a href="{% url 'designers' %}">Trending Designers</a></h2>
        <div class="designers-grid">
            <a href="{% url 'designers' %}" class="designer-card">
                <img src="{% static 'core/designers/aizhan.png' %}" alt="Aizhan">
                <p>Aizhan</p>
            </a>
            <a href="{% url 'designers' %}" class="designer-card">
                <img src="{% static 'core/designers/timur.png' %}" alt="Timur">
                <p>Timur</p>
            </a>
            <a href="{% url 'designers' %}" class="designer-card">
                <img src="{% static 'core/designers/gulnara.png' %}" alt="Gulnara">
                <p>Gulnara</p>
            </a>
            <a href="{% url 'designers' %}" class="designer-card">
                <img src="{% static 'core/designers/arman.png' %}" alt="Arman">
                <p>Arman</p>
            </a>
        </div>
    </div>

    <!-- Choreographers Section -->
    <div class="choreographers-section">
        <h2><a href="{% url 'choreographers' %}">Trending Choreographers</a></h2>
        <div class="choreographers-grid">
            <a href="{% url 'choreographers' %}" class="choreographer-card">
                <img src="{% static 'core/dance/zhanel.png' %}" alt="Zhanel">
                <p>Zhanel</p>
            </a>
            <a href="{% url 'choreographers' %}" class="choreographer-card">
                <img src="{% static 'core/dance/madina.png' %}" alt="Madina">
                <p>Madina</p>
            </a>
            <a href="{% url 'choreographers' %}" class="choreographer-card">
                <img src="{% static 'core/dance/jey.png' %}" alt="Jey">
                <p>Jey</p>
            </a>
            <a href="{% url 'choreographers' %}" class="choreographer-card">
                <img src="{% static 'core/dance/shanin.png' %}" alt="Shahin">
                <p>Shahin</p>
            </a>
        </div>
    </div>

    

    <div class="go-to-cart" style="margin-top: 100px;">
        <a href="#" class="cart-link">
            <span>Go to Cart</span>
            <img src="{% static 'core/cart.png' %}" alt="Cart" class="icon">
        </a>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <h2>Happy Holiday</h2>
            </div>
            <div class="social-media">
                <div class="social-icon">
                    <a href="#"><img src="{% static 'core/telegram.png' %}" alt="Telegram" class="icon"></a>
                    <a href="#"><img src="{% static 'core/instagram.png' %}" alt="Instagram" class="icon"></a>
                    <a href="#"><img src="{% static 'core/twitter.png' %}" alt="Twitter" class="icon"></a>
                    <a href="#"><img src="{% static 'core/facebook.png' %}" alt="Facebook" class="icon"></a>
                </div>
            </div>
            <div class="copyright">
                &copy;2024 Happy Holiday | All Rights Reserved
            </div>
            <div class="contact-info">
                <h3>Contact Details</h3>
                <div class="info-item">
                    <span class="icon">📍</span>
                    <p><strong>Address:</strong> Almaty Region, Kaskelen, Abylai Khan 1/1</p>
                </div>
                <div class="info-item">
                    <span class="icon">📞</span>
                    <p><strong>Phone:</strong> +7 777 604 78 68</p>
                </div>
                <div class="info-item">
                    <span class="icon">✉️</span>
                    <p><strong>Email:</strong> 220107001@stu.sdu.edu.kz</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
